<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="autoMappingUnknownColumnBehavior" value="FAILING" />
        <setting name="lazyLoadTriggerMethods" value="" />
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <typeAliases>
        <typeAlias alias="User"             type="com.magistr.duck.entity.User" />
        <typeAlias alias="Role"             type="com.magistr.duck.entity.Role" />
        <typeAlias alias="Term"             type="com.magistr.duck.entity.Term" />
        <typeAlias alias="TermGroup"        type="com.magistr.duck.entity.TermGroup" />
        <typeAlias alias="Comment"          type="com.magistr.duck.entity.Comment" />
        <typeAlias alias="Profile"          type="com.magistr.duck.entity.Profile" />
        <typeAlias alias="ProfileGroup"     type="com.magistr.duck.entity.ProfileGroup" />
        <typeAlias alias="UserProfile"      type="com.magistr.duck.dto.UserProfile" />
        <typeAlias alias="Proposal"         type="com.magistr.duck.entity.Proposal" />
        <typeAlias alias="Token"            type="com.magistr.duck.entity.Token" />
        <typeAlias alias="Lang"             type="com.magistr.duck.common.enums.Lang" />
        <typeAlias alias="Sex"              type="com.magistr.duck.common.enums.Sex" />
        <typeAlias alias="TermStatus"       type="com.magistr.duck.common.enums.TermStatus" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.magistr.duck.common.mybatis.TextArrayTypeHandler" />
    </typeHandlers>

    <mappers>
        <mapper resource="/config/database/mybatis/mappers/User.xml" />
        <mapper resource="/config/database/mybatis/mappers/Term.xml" />
        <mapper resource="/config/database/mybatis/mappers/TermGroup.xml" />
        <mapper resource="/config/database/mybatis/mappers/Comment.xml" />
        <mapper resource="/config/database/mybatis/mappers/Profile.xml" />
        <mapper resource="/config/database/mybatis/mappers/ProfileGroup.xml" />
        <mapper resource="/config/database/mybatis/mappers/UserProfile.xml" />
        <mapper resource="/config/database/mybatis/mappers/Proposal.xml" />
        <mapper resource="/config/database/mybatis/mappers/Token.xml" />
    </mappers>
</configuration>
