.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.is-underline{
    text-decoration-line: underline;
}
.panel-icon.is-right-panel-icon{
    margin-right: 0;
    margin-left: 0.75em;
}
.modal-card-foot.justify-content-between{
    justify-content: space-between;
}
@media screen and (min-width: 769px), print{
    .modal-card.is-small-modal, .modal-content.is-small-modal{
        width: 320px;
    }
}
/*spinner*/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}
@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}
/*spinner*/

/*notification*/
.custom-notice {
    position: fixed;
    left: 50%;
    bottom: 0.25rem;
    width: calc(100% - 1.5rem);
    transform: translateX(-50%);
    z-index: 100;
}
.custom-notice .content {
    text-align: center;
}
@media screen and (min-width: 769px), print{
    .custom-notice {
        position: fixed;
        bottom: 0.25rem;
        right: 0.75rem;
        left: auto;
        width: 14rem;
        transform: none;
        z-index: 100;
    }
}